body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 236, 236);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h3 {
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.btn-primary {
  background-color: rgb(2, 33, 61) !important;
  border: none;
}

.rooster-job {
  border-bottom: 1px solid #eee;
  background-color: white;
}

.company {
  color: rgb(252, 145, 5);
  font-family: Poppins, sans-serif;
  font-weight: bold;
}
